.App {
  text-align: center;
}

li{
  list-style: none;
}
#countriesReturn{
border-style: solid;
width: 80%;
        text-align: "center";
        margin-left: 10%;      
}
h1{
  text-align: center;
}