.App {
  text-align: center;
}
/*Single Country*/
li {
  list-style: none;
  text-align: center;
  border: 12px solid greenyellow;
  margin-bottom: 9%;
  margin-right: 5%;
}
/*Outer Div*/
#countriesReturn {
  border: 5px solid blue;
  border-style: solid;
  width: 80%;
  text-align: "center";
  margin-left: 10%;
  margin-bottom: 5%;
}
h1 {
  text-align: center;
}
